# Ambientes Virtuais
venv/
.venv/
env/
.env/
__pypackages__/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos de configuração de editores
.vscode/
.idea/

# Arquivos de ambiente
.env
osdti_env/

# Arquivos de contexto e configuração
/CONTEXTO_DO_PROJETO.md
/RESUMO_DE_ATUALIZACOES.md

#Pasta de Backups
/backups